body {
  margin: 0 auto;
  background-color:white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:25px;
  color:white;
  -webkit-text-stroke: 2px black; 
  position: absolute;
  top: 5%; width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.searchImg {
  max-width: 250px;
  max-height: 200px;
  min-width: 250px;
  margin-left:auto;
  margin-right: auto;
  /*border: 3px solid black; */
}

.board {
  width: 1200px;
  height: 700px;
  margin: auto;
  /*box-shadow: -5px 0 olive, 0 5px olive, 5px 0 olive, 0 -5px olive; */
  box-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; 

  /* use flexbox to create wrap around boc */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.whiteFont {
  color: white;
}

.center {
  text-align: center;
}

.border {
  box-shadow: -2px 0 black , 0 2px black, 2px 0 black, 0 -2px black;
}

.noBorder {
  border: 0px;
  box-shadow: -0px 0 black , 0 0px black, 0px 0 black, 0 -0px black;
  font-size:18px;
  color:rgb(42, 49, 55);
  width: fit-content;
  height: fit-content;
  padding-top: 0px;
  background-color: white;
  text-align: center;
}

.instructions {
  font-size: 20px;
  text-align: left;
}

input {
  border: 0px;
}

.sideButton {
  background-color:inherit;
  border: 0px;
  box-shadow: -2px 0 black , 0 0px white, 0px 0 white, 0 -0px white;
}
.button {
  font-size:18px;
  color:rgb(42, 49, 55);
  width: fit-content;
  height: fit-content;
  padding-top: 0px;
  background-color: white;
  box-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border-radius: 0px;
  border: 2px solid rgb(42, 49, 55);
}

button:hover {
  transition-duration: 0.4s;
  background-color:lightgray;
}

.searchImg:hover {
  transition-duration: 0.4s;
  
}