body {
  margin: 0 auto;
  background-color:white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:25px;
  color:white;
  position: absolute;
  top: 5%; width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  -webkit-text-stroke: 2px rgb(42, 49, 55);
  zoom: 0.7;
}
button {
  -webkit-text-stroke: 0px rgb(42, 49, 55);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: fit-content;
  width:fit-content;
}

input {
  border: 0px;
}


textArea {
  border: 0px;
}

.memeText {
  -webkit-text-stroke: 2px rgb(42, 49, 55);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

.memeTextCaption {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:white;
  -webkit-text-stroke: 2px rgb(42, 49, 55);
  font-size:35px;
  width:fit-content;
  height:fit-content;
  text-align: center;
}

.searchImg {
  max-width: 300px;
  max-height: 200px;
  margin: 4px;
  /*border: 3px solid black; */
}

.memePic {
  max-width: 500px;
  max-height: 300px;
}

.board {
  width: 1200px;
  height: fit-content;
  margin: auto;
  /*box-shadow: -5px 0 olive, 0 5px olive, 5px 0 olive, 0 -5px olive; */
  box-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; 

  /* use flexbox to create wrap around boc */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  zoom: 0.8;
}

.whiteFont {
  color: white;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.centerVertical {
  padding-top: 7%;
  font-size: 30px;
}

.align {
  text-align: left;
}

.border {
  box-shadow: -2px 0 black , 0 2px black, 2px 0 black, 0 -2px black;
  width: fit-content;
  height: fit-content;
  position: relative;
  text-align: left;
  display: table;
  margin: 0 auto;
  padding: 10px;
}

.noBorder {
  border: 0px;
  box-shadow: -0px 0 black , 0 0px black, 0px 0 black, 0 -0px black;
  font-size:18px;
  color:rgb(42, 49, 55);
  width: fit-content;
  height: fit-content;
  padding-top: 0px;
  background-color: white;
  text-align: center;
}

.instructions {
  font-size: 20px;
  color:rgb(42, 49, 55);
  -webkit-text-stroke: 1px rgb(42, 49, 55);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px white;
  -webkit-text-stroke: 0px rgb(42, 49, 55);
  box-shadow: -0px 0white, 0 0px white, 0px 0 white, 0 -0px white;
  font-size: 20px;
  padding-right: 15px;
}

.input {
  padding: 18px;
}

.filled {
  -webkit-text-stroke: 0px rgb(42, 49, 55);
  color:rgb(42, 49, 55);
}

.sideButton {
  background-color:inherit;
  border: 0px;
  box-shadow: -2px 0 black , 0 0px white, 0px 0 white, 0 -0px white;
}
.button {
  font-size:25px;
  color:rgb(42, 49, 55);
  width: fit-content;
  height: fit-content;
  padding-top: 0px;
  background-color: white;
  box-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border-radius: 0px;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid rgb(42, 49, 55);
}


button:hover {
  transition-duration: 0.4s;
  background-color:lightgray;
}

.searchImg:hover {
  transition-duration: 0.4s;
  
}